@font-face{font-family:'SFProDisplay';src:url('../font/SFPRODISPLAY/SFProDisplay-Regular.ttf') format('truetype');font-weight:400;font-display:fallback}
@font-face{font-family:'SFProDisplay';src:url('../font/SFPRODISPLAY/SFProDisplay-Light.ttf') format('truetype');font-weight:300;font-display:fallback}
@font-face{font-family:'SFProDisplay';src:url('../font/SFPRODISPLAY/SFProDisplay-Medium.ttf') format('truetype');font-weight:500;font-display:fallback}
@font-face{font-family:'SFProDisplay';src:url('../font/SFPRODISPLAY/SFProDisplay-Bold.ttf') format('truetype');font-weight:bold;font-display:fallback}
@font-face{font-family:'SFProDisplay';src:url('../font/SFPRODISPLAY/SFProDisplay-Semibold.ttf') format('truetype');font-weight:600;font-display:fallback}
@font-face{font-family:'SFProDisplay';src:url('../font/SFPRODISPLAY/SFProDisplay-Heavy.ttf') format('truetype');font-weight:800;font-display:fallback}


:root {
    --white: #fff;
    --black: #000;
    --text-color: #333;
    --red: #B5292F;
    --blue:#358E9D;
}

img{
    width: 100%;
}

ul, li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #fff;
    position: relative;
    overflow-x: hidden;
}

.container {
    max-width: 1100px;
    padding: 0 10px;
    margin: 0 auto;
}
.dnone{
    display: none!important;
}


/*-----------------------------------------------------HEADER-----------------------------------------------------*/
header {
    background-color: var(--white);
    position: sticky;
    top:0;
    z-index: 15;   
}

.header-middle{
    box-shadow: inset 0px -0.5px 0px #e6e6e6;
}

.header-middle .container {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-img {
    width: 60px;
    height:60px;
}
.header-middle-center {
    padding: 0 30px;
    flex: 1;
}

.form-search {
    display: flex;
    justify-content: center;
    position: relative;
}

.form-search-input {
    height: 40px;
    outline: none;
    border: none;
    background-color: #f0f0f0;
    padding: 10px 20px;
    padding-left: 0;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    width: 65%;
    /* border: 1px solid #e6ecf0;
    background-color: #f5f8fa; */
}

.filter-btn,.search-btn {
    border: none;
    outline: none;
    font-size: 20px;
    height: 40px;
    padding: 0 15px;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-btn {
    background-color: #f0f0f0;
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
}

.header-middle-right>ul {
    display: flex;
    column-gap: 20px;
}

.header-middle-right-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.auth-container {
    display: flex;
    flex-direction: column;
}

.text-dndk {
    font-size: 12px;
}

.text-tk {
    font-size: 15px;
}

.header-middle-right-item {
    position: relative;
}

.header-middle-right-item i {
    font-size: 25px;
    margin-right: 10px;
    color: var(--blue);
}

.text-tk i {
    font-size: 14px !important;
    color: var(--text-color) !important;
}

.cart-icon-menu {
    position: relative;
}

.cart-icon-menu span {
    color: var(--white);
    background: var(--blue);
    height: 20px;
    left: 20px;
    top: -15px;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    padding: 0px 7px;
    z-index: 999999;
}

@keyframes slidein {
    from {
        left: -300px;
        top: 800px;
    }
    to {
        left: 20px;
        top: -15px;
    }
}


.header-middle-right-item:hover .header-middle-right-menu {
    visibility: visible;
    /* transform: scale(1); */
    transform: translateY(0);
    opacity: 1;
}

.header-middle-right-menu {
    position: absolute;
    top: calc(100% + 10px);
    border-radius: 5px;
    background-color: var(--white);
    border: 1px solid rgb(239, 239, 239);
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px 0px;
    min-width: 200px;
    z-index: 2;
    visibility: hidden;
    /* transform: scale(0); */
    transform: translateY(20px);
    opacity: 0;
    transition: visibility 0.3s, transform 0.4s, opacity 0.3s;
}

.header-middle-right-menu::after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: -10px;
    min-width: 200px;
    height: 10px;
}

.header-middle-right-menu li a {
    font-size: 14px;
    display: inline-block;
    padding: 8px 20px;
    color: var(--text-color);
    width: 100%;
}

.header-middle-right-menu li i {
    font-size: 14px;
    margin-right: 5px;
}

.header-middle-right-menu li:hover {
    background-color: #eee;
}

.header-middle-right-menu .border {
    border-top: 1px solid #eee;
}
.header-middle-right-menu{
    right: 0;
}
.header-middle-right-item.close{
    display: none;
}
.header-middle-right-item.dropdown.open{
    margin-right: 15px;
}

.header-bottom{ 
    transition: transform 0.6s ease;
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
    z-index: 4; 
}

.header-bottom.hided{
    transform: translateY(-50px);
}

.header-middle-right-menu{
    right: 0;
}

.menu-list {
    display: flex;
    height: 49px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: left;
    cursor: pointer;
}

.menu-link {
    color: var(--black);
    display: inline-block;
    padding: 15px 20px;
    text-transform: uppercase;
    position: relative;
    font-size: 15px;
}

.menu-link:hover::after {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
    
}

.menu-link::after {
    content: "";
    position: absolute;
    height: 2px;
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
    transition: visibility 0.3s, transform 0.3s, opacity 0.3s;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--blue);
    transition: all 0.3s ease;
}

/* ---------------------------------------------------------------- thanh tìm kiếm -----------------------------------------------*/
.wrapper {
    width: 95%;
    margin: 0 auto;
  }
  .form-search {
    margin: 1em 0;
    display: flex;
    justify-content: center;
    position: relative;
    
  }
  .form-search input {
    background-color: transparent;
    padding-left: 0;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    width: 65%;
    /*padding: 10px 20px;*/
    height: 40px;
    outline: none;
    border: none;
    background-color: #f0f0f0; 
  }
  #search-container input:focus {
    border-bottom-color: #6759ff;
    
    
  }
  #search-container button {
    border: 1px solid;
    outline: none;
    font-size: 20px;
    height: 40px;
    padding: 0 15px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--blue);
    border-radius: 99px;
    transition: background-color 0.5s ease;
    margin-left: 20px;
    
    
    
  }
  
  #search-container button:hover{
    color: black;
    border-color: var(--blue);
    background-color: #fff;
  }
  
  
  .button-value {
    border: 2px solid #6759ff;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #6759ff;
    cursor: pointer;
  }
  .active {
    background-color: #6759ff;
    color: #ffffff;
  }





/*--------------------------------------------------footer is fixed to the bottom of the page---------------------------------------------------------------- */

footer {
    position: static;
    bottom: 0;
    width: 100%;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
    
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* -------------------------------------------------------Footer links------------------------------------------------------- */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* -------------------------------------------------------Footer Center------------------------------------------------ */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
}

/* Footer Right */
.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
} 

