#container {
    width: 1200px;
    margin: 0 auto;
}

.hang {
    width: 100%;
    display: flex;
}

.cot-2 {
    width: 50%;
    height: 180px;
    padding-left: 20px;
}

.cot-2 img {
    width: 100%;
    height: 100%;
}

.cot-3 {
    text-align: center;
    width: 33.33333%;
    padding: 0 20px;
}

.cot-3 > div {
    font-size: 24px;
    font-weight: bold;

}

.bg-yellow {
    background-color: yellow;
}

.bg-pink {
    background-color: pink;
}

.bg-green {
    background-color: green;
}