.header{
    font-size: 28px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    height: 220px;
}
.banner{
    padding: 25px;
    background-color: aqua;
}
.navigation{
    padding: 20px;
    background-color: rgba(5, 117, 80, 0.644);
}
.content{
    display: flex;
}
.Menu{
    width: 20%;
    background-color: grey;
    height: 350px;
    padding: 20px;
}
.cont{
    width: 60%;
    background-color: rgb(165, 163, 163);
    height: 350px;
    padding: 20px;
}
.sidebar{
    width: 20%;
    background-color: rgb(187, 183, 183);
    height: 350px;
    padding: 20px;
}
.footer{
    padding: 20px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}