/* CSS Document */
html {
	SCROLLBAR-BASE-COLOR: #CCCCCCC;
	SCROLLBAR-ARROW-COLOR: #000000;
}

body {	
	background: #fff;	 	
	FONT-FAMILY:arial ;
	font-size: 12px;
	line-height:18px;
	color:#666; 
}

#vnt-wrapper {
	width:100%;
}
#vnt-container {
	width:1000px;
	border-left:#bbbbbb solid 1px;
	border-right:#bbbbbb solid 1px;
	margin:0px auto;
	background:#FFFFFF;
	-webkit-box-shadow: 1px -3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px -3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(187,187,187,1);
}
/*======================== css su dung cho header ================================*/
#vnt-header	{
	background:url(../images/bg_banner_top.jpg) center ;
}
#vnt-header	.banner{
	width:1000px;
	margin:0px auto;
}
#vnt-menutop	{
	background:url(../images/menutop_bg.gif) bottom #2274e0 repeat-x;
	border:#fc6d04 solid 2px;
	height:37px;
}
/*======================== css su dung cho menutop ================================*/

#vnt-menutop .content_menutop {
	width:1000px;
	margin:0px auto;
}
.content_menutop .link_main{
	background:url(../images/menutop_main.gif) right no-repeat;
	padding-right:50px;
	padding-left:10px;
	display:block;
	line-height:37px;
	font-weight:bold;
	color:#fff;
}
.content_menutop .link_main a{
	background:url(../images/icon_web.png) left no-repeat;
	padding-left:25px;
	color:#fff;
}
.content_menutop .menutop{
	background:url(../images/munutop_on.gif) repeat-x;
	padding-top:8px;
	display:block;
	height:29px;
}
.content_menutop .box_member{
	background:url(../images/menutop_member.gif) left no-repeat;
	padding-left:30px;
	display:block;
	line-height:37px;
	font-weight:bold;
	color:#fff;
}
.content_menutop .box_member a{
	background:url(../images/icon_member.png) left no-repeat;
	padding-left:24px;
	color:#fff;
	white-space:nowrap;
}
#vnt-menutop .menutop li{
	float:left;
	margin-right:2px;
}
#vnt-menutop .menutop li a{
	display:block;
	line-height:22px;
	padding:0px 15px;
	text-align:center;
	font-weight:bold;
	color:#fff;
	white-space:nowrap;
}
#vnt-menutop .menutop li a::before {
	position: absolute;
	top: 0;
	left: -5px;
	z-index: -1;
	box-sizing: content-box;
	padding: 0 5px;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

#vnt-menutop .menutop li a:hover::before,
#vnt-menutop .menutop li a:focus::before {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

#vnt-menutop .menutop li a:hover{
	background:#fff;
	color:#666;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#vnt-menutop .menutop li a.current{
	background:#fff;
	color:#666;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
} 
#vnt-search {
	margin-bottom:10px;
}
#vnt-search .box_date_time {
	 float:left;
	 color:#666666;
	 font-size:12px;
	 line-height:25px;
	white-space:nowrap;}
#vnt-search .header_search{
	float:right;
	width:300px;
}
.box_search{
	background:url(../images/bg_box_search.gif) left no-repeat;
	padding-left:12px;
}
.text_search{
	background:url(../images/bg_text_search.gif) repeat-x;
	height:25px;
	font-size:12px;
	font-family:arial;
	font-style:italic;
	color:#666666;
	width:258px;
	border:none;
}
.navation{
	color:#333333;
	text-align:left;
	font-size:11px;
}

.navation a{
	color:#333333;
	white-space:nowrap;
}
.navation span.home{
	padding-right:10px;
	padding-left:0px;
	background:none;
}
.navation span{
	display:inline-block;
	background:url(../images/icon_navation.gif) 0px 7px no-repeat;
	padding-left:12px;
	padding-right:10px;
	white-space:nowrap;
}
.navation .last{
	color:#666;
}
.navation .last a{
	color:#666;
	white-space:nowrap;}
.banner_mid{
	margin-bottom:10px;
}
/*======================== css su dung chung cho trang ================================*/
#vnt-content {
	padding:10px;
}

.advertise{
	margin-bottom:10px;
}
/*------------ css cho footer ------------*/
#vnt-footer {
	border-top:#424242 solid 3px;
	background:url(../images/bg_footer.gif) top ;
	padding:20px 15px;
	color:#fff;
}
#vnt-footer .address_footer { float:left; width:52%; margin-right:5%}
#vnt-footer .address_footer .address{
	background:url(../images/icon_address.png) left no-repeat;
	padding-left:22px;
}
#vnt-footer .address_footer .phone_footer{
	background:url(../images/icon_phone.png) left no-repeat;
	padding-left:22px;
}
#vnt-footer .address_footer .fax_footer{
	background:url(../images/icon_fax.png) left no-repeat;
	padding-left:22px;
}
#vnt-footer .address_footer .email_footer{
	background:url(../images/icon_email.png) left no-repeat;
	padding-left:22px;
}
#vnt-footer .address_footer .view_maps a{
	background:url(../images/icon_maps.png) left no-repeat;
	font-weight:bold;
	color:#a0a0a0;
	padding:3px;
	padding-left:22px;
}
#vnt-footer .menu_footer { float:right; width:43%}
.box_cat_footer ul.fl{
	margin-right:2%;
	width:48%;
}
.box_cat_footer ul.fr{
	margin-left:2%;
	width:48%;
}


.box_cat_footer li{
	background:url(../images/hr_menu_footer.png) bottom repeat-x;
	padding-bottom:5px;
	line-height:30px;
}
.box_cat_footer li a{
	background:url(../images/icon_footer.png) 0px 4px no-repeat;
	color:#a0a0a0;
	padding-left:12px;
}
.box_cat_footer li a:hover{
	text-decoration:underline;
	color:#fff;
}
#vnt-footer h2{
	text-transform:uppercase;
	background:url(../images/hr_footer.png) bottom repeat-x;
	padding-bottom:7px;
	margin-bottom:10px;
	color:#fff;
}
#vnt-copyright{
	background:url(../images/bg_copyright.gif);
	border-top:#1b1b1b solid 3px;
	padding:20px 15px;
	line-height:25px;
	text-align:center;
}
#vnt-copyright .copyright{
	color:#fff ;
}
#vnt-copyright .copyright strong{
	color:#a0a0a0;
}

#vnt-copyright .copyright a.thietkeweb{
	color:#fff;
}
#vnt-copyright .copyright a{
	color:#a0a0a0;
}
#vnt-social-network { text-align:center; padding:10px 0px;}
.vnt-main {
	vertical-align:top;
	float:right;
	margin-left:10px;
	width:774px;
}
.vnt-sidebar {
	vertical-align:top;
	float:left;
	width:196px;
}
 
 