@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0 10px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* top nav */
.top-nav{
    font-size: 10px;
    color: gray;
    border-bottom: 2px solid gray;
}

.top-nav,.top-nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav ul li{
    margin: 0 5px;
}

.top-nav ul li a{
    font-size: 10px;
    color: gray;
}

/* bottom nav */

.bottom-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border-bottom: 1px solid gray;
}

.bottom-nav .logo img{
    width: 110px;
    height: 100px;
}

.search{
    height: 40px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    border: 1px solid #000;
    border-radius: 2px;
}

.search button{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.search input{
    width: 280px;
    border: none;
    outline: none;
}


.search i{
    font-size: 20px;
    margin: 0 10px;
}

.bottom-nav .about-bottom-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-nav >button{
    width: 120px;
    height: 30px;
}

.bottom-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-nav ul li{
    margin: 0 5px;
}

.bottom-nav ul li a{
    color: #000;
    
}

.bottom-nav ul li a i{
    font-size: 20px;
}

/* under - nav */
.under-nav{
    border-bottom: 1px solid gray;
}
.under-nav, .under-nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about-under-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.under-nav button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 0 10px;
    border: none;
    height: 30px;
    border-radius: 3px;
}
.under-nav button i{
    font-size: 20px;
}

.under-nav ul li{
    margin: 0 10px;
}
.under-nav ul li a{
    color: black;
}

.hots-line{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hots-line img{
    width: 50px;
    margin: 0 10px;
}

/* banner */

.slide {
    position: relative;
}

.slide .slide-img {
    display: block;
    width: 98%;
    height: 500px;
    margin: 0 auto;
    border-radius: 20px;
}

.slide .description {
    position: absolute;
    top: 20%;
    left: 5%;
    color: black;
    font-size: 20px;
}

.slide .description-1 {
    font-size: 40px;
    font-weight: 600;
}

.slide .description-2 {
    margin-top: 30px;
    font-size: 80%;
}

.slide .slide-email {
    position: absolute;
    top: 56%;
    left: 5%;
}

.slide-email .email {
    position: relative;
    width: 280px;
    padding: 20px;
    border-radius: 24px;
    border: 0;
}

.slide-email .register {
    position: absolute;
    background-color: #283106;
    border-radius: 24px;
    transform: translateX(-70%);
    width: 74px;
    height: 54px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
}

.products {
    margin-top: 50px;
    padding: 0 20px;
}

span {
    font-size: 26px;
}

.card-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
}

.card-items .card {
    width: 120px;
    height: 200px;
    background-color: #D1D8BD;
    list-style: none;
    padding: 10px;
    border-radius: 14px;
}

.card-items .card img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.card-items .card p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-weight: 600;
}

.card-items .card .quantity {
    font-size: 12px;
    color: #333;
}

.banner {
    position: relative;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.banner-item .banner-img {
    padding: 0 10px;
    width: 100%;
}

.banner-item .banner-details {
    position: absolute;
    top: 30%;
    transform: translateX(15%);
    font-weight: 600;
    font-size: 24px;
}

.banner-item .banner-btn {
    position: absolute;
    top: 70%;
    left: 50px;
    text-decoration: none;
    background-color: #283106;
    color: #FFF;
    padding: 10px;
    border-radius: 10px;
}

#topbar-left {
    width: 30%;
    float: left;
}

.topbar-left-list {
    margin: 0px;
    padding-left: 0px;
}

.topbar-left-list li {
    list-style-type: none;
    float: left;
    border-right: 1px solid rgb(134, 133, 133);
}

#topbar-left .topbar-left-list li a {
    text-decoration: none;
    padding: 5px;
    color: rgb(134, 133, 133);
}

#topbar-left .topbar-left-list li:last-child {
    border-right: unset;
}

#topbar-middle {
    width: 40%;
    float: left;
}

#topbar-middle p {
    text-align: center;
    color: rgb(134, 133, 133)
}

#topbar-right {
    width: 30%;
    float: left;
}

.topbar-right-list {
    margin: 0px;
    padding-left: 0px;
}

.topbar-right-list li {
    list-style-type: none;
    float: right;
    border-left: 1px solid rgb(134, 133, 133);
}

.topbar-right-list li a {
    text-decoration: none;
    padding: 5px;
    color: rgb(134, 133, 133);
}

#topbar-right .topbar-right-list li:last-child {
    border-left: unset;
}
