.auto-theme .header {
  position: relative;
}

.auto-theme .header > img {
  position: absolute;
  height: 77px;
  width: auto;
  margin: 0;
  top: 0;
  width: calc((100% - 1200px) / 2);
  overflow: hidden;
  object-fit: cover;
  max-width: 245px;
}

.auto-theme .header > img.header-left {
  left: 0;
  right: unset;
  object-position: 100% 0;
}

.auto-theme .header > img.header-right {
  right: 0;
  left: unset;
  object-position: 0 0;
}

.auto-theme .iconnewglobal-logo {
  background-image: url("");
  height: 52px;
  width: 229px;
  background-repeat: no-repeat;
  background-size: 229px 52px;
  background-position: unset;
}

.auto-theme .iconnewglobal-logoheaddmx {
  background-image: url("");
  height: 52px;
  width: 229px;
  background-repeat: no-repeat;
  background-size: 229px 52px;
  background-position: unset;
}