.container{
    text-align: center;
    margin: auto;
    text-align:center;
    font-size: 20px;
    width: 100px;
    height: 30px;
    background-color: #00cc66;
    line-height: 150%;
    border-radius: 10px;
}
.container:hover{
    margin: auto;
    width: 200px;
    height: 60px;
    line-height: 300%;
    background-color: transparent;
    box-shadow: 0 0 10px red;
}