.container{
    width: 1000px;
    height: 850px;
    margin: auto;
}
.row{
    display: flex;
    margin-top: 25px;
}
.Item{
    margin: 15px;
}
.row{
    border: none;
    width: 300px;
    height: 400px;
    text-align: center;
}
.cnt{
    font-size: 22px;
    margin-top: 10px;
}
.value{
    font-size: 22px;
    font-weight: bold;
    color: orangered;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cart{
    border: 2px dotted gainsboro;
    width: 140px;
    padding: 5px;
    text-align: center;
    margin: auto;
}