* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

#container {
    width: 100%;
    margin: 0 auto;
}

#header {
    width: 100%;
    display: flex;
    align-items: center;
}

#header img {
    width: 120px;
    height: 120px;
    margin: 20px;
}

.name {
    
}

.name h2 {
    color: red;
    font-size: 32px;
    border-bottom: 3px solid orange;
    padding-bottom: 6px;
}

.name h1 {
    color: blue;
    margin-top: 6px;
}

#nav {
    width: 100%;
    height: 50px;
    background-color: dodgerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
}

.list-cap1 {
    width: 75%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

.item-cap1 {
    position: relative;
    width: 16.66667%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-cap1:hover {
    color: yellow;
    background-color: navy;
    cursor: pointer;
}

.item-cap1:hover .list-cap2{
    display: block;
}

.list-cap2 {
    position: absolute;
    display: none;
    list-style: none;
    top: 100%;
    left: 0;
    width: 100%;
}

.item-cap2 {
    position: relative;
    width: 100%;
    height: 40px;
    color: white;
    background-color: purple;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid white;
}

.item-cap2:hover {
    color: orange;
}

.item-cap2:hover .list-cap3 {
    display: block;
}

.list-cap3 {
    position: absolute;
    display: none;
    list-style: none;
    top: 0;
    left: 100%;
    width: 100%;
}

.item-cap3 {
    width: 100%;
    height: 40px;
    color: white;
    background-color: purple;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid white;
}

.item-cap3:hover {
    color: orange;
}

.timkiem {
    position: relative;
    display: flex;
    align-items: center;
}

.timkiem input {
    width: 250px;
    height: 30px;
    padding: 8px 40px 8px 8px;
    border-radius: 20px;
    outline: none;
    border: none;
}

.timkiem label {
    display: flex;
    align-items: center;
}

.timkiem label i {
    position: absolute;
    right: 10px;
}

#banner {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

#banner img {
    width: 100%;
    height: 100%;
}

#content {

}

.ribbon {
    position: relative;
    width: 100%;
    height: 26px;
    line-height: 26px;
    display: flex;
    border-bottom: 2px solid dodgerblue;
}

.ribbon p {
    position: absolute;
    width: fit-content;
    padding: 0 6px;
    color: white;
    background-color: dodgerblue;
}

.ribbon p::after {
    position: absolute;
    content: "";
    right: -25px;
    border: 13px solid dodgerblue;
    border-right-color: transparent;
    border-top-color: transparent;
}

.layout-item {
    display: grid;
    grid-template-columns: 2fr 4fr 4fr;
    grid-template-rows: 200px;
    grid-gap: 20px 30px;
    padding: 10px 10px 10px 0;
}

.layout-image {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
    grid-gap: 0 10px;
    animation: slideRightToLeft 20s linear infinite;
}

@keyframes slideRightToLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.layout-item_image {
    display: flex;
    align-items: center;
}

.layout-item_image img {
    width: 100%;
    height: 130px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-item img {
    /* width: 80%; */
    height: 100%;
}

.layout-item_center h4 {
    color: blue;
    margin-bottom: 10px;
}

.layout-item_center p {
    text-align: justify;
}

.layout-item_right {
    padding-left: 22px;
    padding-right: 10px;
}

.layout-item_right ul {

}

.layout-item_right ul li {
    color: blue;
    margin-bottom: 10px;
    text-align: justify;
}

.layout-item_right ul li:last-child {
    float: right;
    color: red;
}

.layout-item_right ul li a {
    text-decoration: none;
}

.layout-item_right ul li a:visited {
    color: inherit;
}

#footer {
    width: 100%;
    height: fit-content;
    background-color: dodgerblue;
    text-align: center;
    display: flex;
    justify-content: center;
}

#footer .footer_text {

}

#footer p {
    color: white;
    margin: 10px;
}

#footer .footer_text p span {
    background-color: black;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: inline-block;
    line-height: 18px;
    margin-right: 2px;
}