.container {
    text-align: center;
    margin: auto;
    text-align:center;
    font-size: 20px;
    width: 50%;
    border: 1px solid black;
    
}
.container:hover{
    margin: auto;
    box-shadow: 0px 0px 5px 5px #8d8de9;
}