
.container {
  border: #00F solid 2px;
  border-radius: 10px;;
  margin: 20px auto;
}
.container-1{
  width: 700px;
  background-color: #ffc;
}
.container-2{
  width: 450px;
  height: 330px;
  background-color: black;
}
h2.title-1{
  color: #900;
}
h2.title-2{
  color: #CF0;
}
p {
  padding: 20px;
  text-align: justify;
  text-indent: 50px;
}
p.content-1{
  font-size: 20px;
}
p.content-2{
  font-size: 20px;
  color: #FFC;
  line-height: 30px;
}